$SURFACE0: #313244;
$BG: #1e1e2e;
$OVERLAY0: #6c7086;
$CRUST: #11111b;
$GREEN: #a6e3a1;
$BLUE: #89b4fa;
$SAPPHIRE: #74c7ec;
$TEXT: #cdd6f4;
$SUBTEXT1: #bac2de;
$MAROON: #eba0ac;
$RED: #f38ba8;
$PEACH: #fab387;

@import "./bar/bar.scss";
@import "./menu/menu.scss";
@import "./time/time.scss";

* {
    padding: 0px;
    margin: 0px;
    all: unset;
}