@-moz-document url(about:newtab){
.outer-wrapper {
	background: #11111b !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;

	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding-top: 0px !important;
}
}

@-moz-document url(about:home){
.outer-wrapper {
	background: #11111b !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;

	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding-top: 0px !important;
}
}
@-moz-document url(about:blank){
html {
	height: 100vh !important;
	background-color: #11111b !important;
}
}

.neterror {
	background-color: #11111b !important;
}
