@-moz-document url(about:newtab){
.outer-wrapper {
	background: #282828 !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;

	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding-top: 0px !important;
}
}

@-moz-document url(about:home){
.outer-wrapper {
	background: #282828 !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;

	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding-top: 0px !important;
}
}
@-moz-document url(about:blank){
html {
	height: 100vh !important;
	background-color: #282828 !important;
}
}

.neterror {
	background-color: #282828 !important;
}
.search-wrapper .search-handoff-button, .search-wrapper input  {
	background: #3c3836 var(--newtab-search-icon) 16px center no-repeat !important;
}
