.circ-progress-innertext{
    font-size: 1.3rem;
}
.menu {
    background-color: $CRUST;
    border: 1px solid $SURFACE0;
    border-radius: 5px;
    font-family: "CaskaydiaCove Nerd Font";
}
.iconMenu {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.container {
    border: 1px solid $SURFACE0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $BG;
    border-radius: 5px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.container-buttons {
    border: 1px solid $SURFACE0;
    min-height: 110px;
    background-color: $BG;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.metric scale trough {
    all: unset;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
}
.metric scale trough highlight {
    all: unset;
    margin: .1px;
    background-color: $CRUST;
    border-radius: 10px;
}
.metric scale trough {
    all: unset;
    background-color: $SURFACE0;
    border-radius: 50px;
    min-height: 10px;
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}


.button-shutdown, .button-reboot {
    background-color: $MAROON;
    color: $CRUST;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 500ms;
    padding-top: 7px;
    padding-bottom: 7px;
}
.button-reboot {
    margin-left: 5px;
}
.button-shutdown:hover, .button-reboot:hover {
    background-color: $RED;
    box-shadow: 0px 0px 5px $RED;
}

.button-exit {
    background-color: $SAPPHIRE;
    color: $CRUST;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: 500ms;
    padding-top: 7px;
    padding-bottom: 7px;
}
.button-exit:hover {
    background-color: $BLUE;
    box-shadow: 0px 0px 2px $BLUE;
}

.button-airplane {
    background-color: $TEXT;
    color: $CRUST;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 500ms;
    padding-top: 7px;
    padding-bottom: 7px;
}
.button-airplane:hover {
    background-color: $SUBTEXT1;
}

.player-container{
    border: 1px solid $SURFACE0;
    background-color: $BG;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cover {
    min-width: 80px;
    min-height: 80px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 5px;
}
.artist {
    color: $SUBTEXT1;
}
.title {
    font-size: 16px;
    font-weight: 900;
}
.player {
    font-size: 30px;
}
.play-pause {
    font-size: 30px;
    transition: 250ms;
}
.play-pause:hover {
    text-shadow: 0px 0px 2px $BLUE;
}
.player-window {
    padding: 10px;
    padding-top: 27px;
    background-color: $CRUST;
    border-radius: 5px;
    border: 1px solid $TEXT;
    min-width: 410px;
}
.panel {
    min-width: 220px;
}